.app {
  width: 100%;
  height: 100%;
  min-height: 786px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  margin-bottom: 2rem;
  font-size: 36px;
  font-weight: bolder;
  font-family: "Pacifico", Arial, Helvetica, sans-serif;
  color: #4797ff;
}

.container {
  width: 600px;
  height: 600px;
  max-width: 98%;
  border-radius: 9px;
  padding: 20px;
  box-shadow: 0 3px 10px #b0b0b0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
}

.grid-item {
  box-shadow: 0 0 5px #b0b0b0;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  font-weight: 400;
  font-family: sans-serif;
  user-select: none;
  cursor: pointer;
}

.grid-item:hover {
  transform: scale(1.02);
  border: 2px solid #4797ff;
}

.message {
  font-size: 20px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}

.tag {
  color: #4797ff;
  font-weight: 700;
  border-radius: 5px;
}

.draw {
  color: #c80303;
  font-weight: 600;
}

.btn {
  padding: 7px 10px;
  font-size: 18px;
  background-color: #ff4747;
  outline: none;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
}

.btn:hover {
  transform: scale(1.02);
}

.flex {
  margin-bottom: 25px;
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 5px #b0b0b0;
  padding: 10px 20px;
  border-radius: 10px;
}

@media (max-width: 740px) {
  .title {
    font-size: 25px;
  }

  .container {
    width: 400px;
    height: 400px;
  }

  .flex {
    width: 400px;
  }

  .message {
    font-size: 16px;
  }

  .grid-item {
    font-size: 30px;
  }

  .btn {
    font-size: 12px;
  }
}

@media (max-width: 450px) {
  .container {
    width: 350px;
    height: 350px;
  }

  .flex {
    width: 350px;
    max-width: 97%;
  }

  .message {
    font-size: 14px;
  }

  .grid-item {
    font-size: 30px;
  }

  .btn {
    font-size: 12px;
  }

  .draw {
    padding: 4px 10px;
  }

  .btn:hover {
    transform: scale(1);
  }

  .grid-item:hover {
    transform: scale(1);
  }
}
